.mypy_cache
.pytest_cache
.coverage
__pycache__
*.pyc
*.output
*.egg-info
/build
/dist
/env
/.vscode
/scratch
/cov_report
/**/art
.local
/pkg/coverage.txt
/pkg/coverage.out
/pkg/sanity
/pkg/go.mod
/pkg/go.sum
/pkg/openapiart.go