/proto_doc
.env*
.mypy_cache
.pytest_cache
.coverage
__pycache__
*.pyc
*.output
*.egg-info
/build
/dist
/env
/scratch
/cov_report
/**/art
/**/art_go
/artifacts/pyapi/__pycache__
.local
/pkg
!/pkg/.*_test.go
!/pkg/common.go
!/pkg/severtests
!/pkg/new_tests
_debug_bin
.env*
