/proto_doc
.env*
.mypy_cache
.pytest_cache
.coverage
__pycache__
*.pyc
*.output
*.egg-info
/build
/dist
/env
/scratch
/cov_report
/**/art
/**/art_go
/artifacts/pyapi/__pycache__
.local
/pkg/coverage.txt
/pkg/coverage.out
/pkg/openapi
/pkg/go.mod
/pkg/go.sum
/pkg/goapi.go
/pkg/httpapi
/pkg/log.txt
_debug_bin
.env*
