--prefer-binary
jsonpath-ng
openapi-spec-validator
requests
typing
setuptools
wheel
twine
PyYAML
openapi_spec_validator
typing_extensions
jsonpath_ng
urllib3
grpcio==1.38.0 ; python_version > '2.7'
grpcio==1.35.0 ; python_version == '2.7'
grpcio-tools==1.38.0 ; python_version > '2.7'
grpcio-tools==1.35.0 ; python_version == '2.7'
protobuf==3.15.0
