twine
flask
pytest
flake8
pytest-cov
jsonpath_ng
openapi_spec_validator==0.3.0
urllib3
semantic_version
protobuf==3.15.0 ;  python_version <= '3.6'
protobuf==3.20.1 ;  python_version > '3.6'
grpcio==1.44.0 ; python_version > '2.7'
grpcio==1.35.0 ; python_version == '2.7'
