--prefer-binary
jsonpath-ng
typing
setuptools
wheel
PyYAML
openapi_spec_validator==0.3.0
typing_extensions ; python_version > '2.7'
black==22.1.0 ; python_version > '2.7'
grpcio-tools==1.44.0 ; python_version > '2.7'
grpcio-tools==1.35.0 ; python_version == '2.7'
pipreqs; python_version > '2.7'
