build
jsonpath-ng
typing
setuptools
wheel
PyYAML
openapi_spec_validator==0.3.0
requests
typing_extensions ; python_version > '2.7'
click==8.1.7; python_version > '2.7' # this is added because of the black failure in CI
black==22.3.0 ; python_version > '2.7'
grpcio-tools~=1.70.0 ; python_version >= '3.10'
grpcio-tools~=1.59.5 ; python_version > '3.6' and python_version < '3.10'
grpcio-tools~=1.44.0 ; python_version <= '3.6'
pipreqs==0.4.11; python_version > '2.7'
protobuf~=5.29.0 ; python_version >= '3.10'
protobuf~=4.24.4 ; python_version >= '3.7' and python_version < '3.10'
protobuf~=3.15.0 ; python_version <= '3.6'
grpcio~=1.70.0 ; python_version >= '3.10'
grpcio~=1.59.5 ; python_version >= '3.7' and python_version < '3.10'
grpcio~=1.44.0 ; python_version <= '3.6'

