# Build process
# Generate go and python artifacts using 3.10
# Test generated go artifacts using latest go
# Test generate python artifacts using 2.7 and 3.10

name: CICD

on:
  - push
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: ["3.10"]
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup project prerequisites
          python do.py setup
          python do.py init
      - name: Lint project source
        run: |
          python do.py py_lint
      - name: Generate wheel
        run: |
          python do.py dist
      - name: Cleanup environment and install wheel
        run: |
          rm -rf .env
          python do.py setup
          python do.py install
      - name: Archive generated artifacts
        uses: actions/upload-artifact@v2
        with:
          name: generated-artifacts
          path: |
            dist
            pkg

  python_tests:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        python-version: [2.7, 3.6, 3.7, 3.8, 3.9, "3.10"]
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@v2
        id: download
        with:
          name: generated-artifacts
      - name: Install dependencies
        run: |
          python do.py setup
          python do.py install
      - name: Run artifact generation
        run: |
          python do.py generate python
      - name: Display structure of downloaded files
        run: ls -R
      - name: Run python tests
        run: |
          sudo python do.py test_py_sdk

  go_tests:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        go-version: ["1.17.5", "1.18.3", "1.19"]
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python do.py setup
          python do.py init
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup Go and protoc
        run: |
          python do.py get_go ${{ matrix.go-version }}
          python do.py setup_ext
      - name: Run artifact generation
        run: |
          python do.py generate go
      - name: Run go lint
        run: |
          python do.py go_lint
      - name: Archive generated artifacts
        uses: actions/upload-artifact@v2
        with:
          name: generated-artifacts
          path: |
            pkg
      - uses: actions/download-artifact@v2
        with:
          name: generated-artifacts
      - name: Display structure of downloaded files
        run: ls -R
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run go tests
        run: |
          python do.py test_go_sdk

  publish_python_package:
    if: github.ref == 'refs/heads/main'
    needs: [python_tests, go_tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: actions/download-artifact@v2
        with:
          name: generated-artifacts
      - name: Display structure of downloaded files
        run: ls -R
      - name: Get package version
        id: get_version
        run: |
          echo "::set-output name=version::v$(python do.py version)"
      - name: Check tag for current version
        uses: mukunku/tag-exists-action@v1.0.0
        id: check_tag
        with:
          tag: ${{ steps.get_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish package
        if: steps.check_tag.outputs.exists == 'false'
        run: |
          PYPI_USERNAME=${{ secrets.PYPI_USERNAME }} PYPI_PASSWORD=${{ secrets.PYPI_PASSWORD }} python do.py release
      - name: Create release and publish artifacts
        if: steps.check_tag.outputs.exists == 'false'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          tag: ${{ steps.get_version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
